@import "_normalize.pcss";

body{
	font-family: sans-serif, Arial, Tahoma;
	font-size: 14px;
}


.container{
	margin-bottom: 50px;
	border: none;
	border-top: 1px dashed #ddd;
	border-bottom: 1px dashed #ddd;
	h3{
		margin: 0 5px;
	}
}

div.box{
	margin-bottom: 12px;
	width: 100%;
	padding: 10px;
	text-align: center;
	min-height: 40px;
	background-color: #95a5a6;
}
