@import "_normalize.pcss";

body{
	font-family: sans-serif, Arial, Tahoma;
	font-size: 14px;
}

div{
	border: 1px solid #000;
	min-height: 100px;
}

.container{
	margin-bottom: 50px;
	border: none;
	border-bottom: 1px dashed #ddd;
	border-top: 1px dashed #ddd;
	h3{
		margin: 0 5px;
	}
}

.fx-row{
	margin-bottom: 12px;
}